<style>
  * { font-family: 'Helvetica'; } header { display: flex; justify-content:
  center; padding: 1rem; color: #717171; font-size: 3rem; font-weight: 600;
  font-style: italic; border-bottom: 2px solid #ebebeb; } .section { margin:
  3rem 2rem; } h2 { text-align: center; margin-bottom: 2rem; } footer { display:
  flex; justify-content: center; padding: 1rem; color: #868686; font-size:
  0.75rem; font-family: 'Helvetica'; font-style: italic; border-top: 2px solid
  #ebebeb; } li { margin-top: 2rem; }
</style>

<div>
  <header>LubyCash</header>

  <div class='section'>
    <h2>Recuperando senha</h2>

    <p>Uma solicitação de recuperação de senha foi realizada para o email ({{email}}).
      Se você não foi o autor dessa requisição, seria melhor trocar sua senha</p>

    <p>Para continuar com a recuperação de senha, utilize o token
      {{token}}
      ou clique no link abaixo:</p>

    <a href='{{link}}'>Criar nova senha</a>
  </div>
</div>